body,
html {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Helvetica Neue", serif;
    line-height: 1.5em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    background-color: black;
}

header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 15px 15px;
}

header h1 {
    text-align: center;
    color: white;
    margin-left: 38%;
}

ul {
    margin: 23px;
    position: absolute;
    right: 10px;
}

header li{
    display: inline;
}

header li a{
    color: white;
}

main {
    padding-top: 30px;
}

.description {
    background-color: gainsboro;
    height: 650px;
}

.description img{
    float: left;
    width: 350px;
    padding: 60px 30px 30px 100px;
}

h2 {
    padding-top: 90px;
    font-weight: bold;
}

.description-p1{
    padding-right: 100px;
}

.description-p2 {
    clear: both;
    padding-left: 100px;
    padding-right: 100px;
}

